In [2]:
import pandas as pd 
import glob as g 
import numpy as np

In [3]:
# integration 
df=pd.read_csv("https://raw.githubusercontent.com/Aya123-sys/task1/main/Mall_Customers.csv")
print(df)

     CustomerID  Gender  Age  Annual Income  Spending Score
0             1    Male   19             15               39
1             2    Male   21             15               81
2             3  Female   20             16                6
3             4  Female   23             16               77
4             5  Female   31             17               40
..          ...     ...  ...            ...              ...
195         196  Female   35            120               79
196         197  Female   45            126               28
197         198    Male   32            126               74
198         199    Male   32            137               18
199         200    Male   30            137               83

[200 rows x 5 columns]

In [4]:
df1=pd.read_json("https://raw.githubusercontent.com/Aya123-sys/task1/main/stores.json")
print(df1)

     Store ID  Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [5]:
df2=pd.read_json("https://raw.githubusercontent.com/Aya123-sys/task1/main/markett.json")

In [6]:
print(df2)

       Transaction_ID                Date       Customer_Name  \
0          1000000000 2020-12-21 19:42:52     Cheyenne Newman
1          1000000001 2020-07-06 07:45:16    Emily Fitzgerald
2          1000000002 2021-10-02 06:28:44        Michael Webb
3          1000000003 2022-01-10 05:39:02        Kimberly Lin
4          1000000004 2021-10-13 07:28:47     Cathy Hernandez
...               ...                 ...                 ...
29993      1000029993 2020-06-15 22:30:57  Casey Jennings DDS
29994      1000029994 2021-04-04 03:37:08        Leah Aguilar
29995      1000029995 2023-10-16 06:01:01      Candice Wilson
29996      1000029996 2020-04-08 17:31:16              Jay Yu
29997      1000029997 2020-12-18 07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Cost  Payment_Method           City         Store_Type  \
0           12.77      Debit Card       New York  Convenience Store
1           13.88      Debit Card        Houston        Supermarket
2           47.02      Debit Card          Miami  Convenience Store
3           83.86  Mobile Payment        Seattle     Warehouse Club
4           30.55      Debit Card        Houston     Warehouse Club
...           ...             ...            ...                ...
29993       73.93            Cash  San Francisco   Department Store
29994       31.57     Credit Card        Atlanta     Warehouse Club
29995       31.74      Debit Card       New York        Supermarket
29996        5.84            Cash        Chicago           Pharmacy
29997       51.10     Credit Card    Los Angeles        Supermarket

      Discount_Applied Customer_Category  Season                   Promotion
0                 True           Student  Winter                        None
1                False      Professional    Fall      BOGO (Buy One Get One)
2                False       Young Adult  Winter                        None
3                 True    Senior Citizen  Summer  Discount on Selected Items
4                False    Senior Citizen  Spring                        None
...                ...               ...     ...                         ...
29993             True          Teenager  Summer      BOGO (Buy One Get One)
29994            False          Teenager    Fall  Discount on Selected Items
29995             True      Professional  Spring  Discount on Selected Items
29996             True      Professional  Summer  Discount on Selected Items
29997             True       Young Adult    Fall  Discount on Selected Items

[29998 rows x 13 columns]

In [7]:
# transformation

df = df.rename(columns={'Annual Income': 'Annual_Income'})
df = df.rename(columns={'Spending Score ': 'Spending_Score'})
df = df.rename(columns={'CustomerID':'Customer_id'})
print(df)

     Customer_id  Gender  Age  Annual_Income  Spending_Score
0              1    Male   19             15              39
1              2    Male   21             15              81
2              3  Female   20             16               6
3              4  Female   23             16              77
4              5  Female   31             17              40
..           ...     ...  ...            ...             ...
195          196  Female   35            120              79
196          197  Female   45            126              28
197          198    Male   32            126              74
198          199    Male   32            137              18
199          200    Male   30            137              83

[200 rows x 5 columns]

In [8]:
# Function to generate random data
def generate_random_data(num_rows):
    ID = range(max(df['Customer_id']) + 1, max(df['Customer_id']) + num_rows + 1)
    Gender = np.random.choice(['Male', 'Female'], size=num_rows)
    Age = np.random.randint(15, 90, size=num_rows)
    Income = np.random.randint(1, 300, size=num_rows)
    Score = np.random.randint(1, 100, size=num_rows)
    return {'Customer_id': ID, 'Gender': Gender, 'Age': Age, 'Annual_Income': Income, 'Spending_Score': Score}

In [9]:
random_data = generate_random_data(num_rows=14800)
random_df = pd.DataFrame(random_data)
df = pd.concat([df, random_df], ignore_index=True)
df['Membership'] = np.random.choice([0,1],size=15000)

print(df)

       Customer_id  Gender  Age  Annual_Income  Spending_Score  Membership
0                1    Male   19             15              39           1
1                2    Male   21             15              81           0
2                3  Female   20             16               6           1
3                4  Female   23             16              77           0
4                5  Female   31             17              40           1
...            ...     ...  ...            ...             ...         ...
14995        14996    Male   40            205              25           1
14996        14997  Female   46            116              11           0
14997        14998    Male   19             77              49           0
14998        14999    Male   20             55              50           1
14999        15000    Male   76             75              39           0

[15000 rows x 6 columns]

In [10]:
df1 = df1.rename(columns={'Store ID': 'Store_id'})
df1 = df1.rename(columns={'Store_Area': 'Store_Area'})
df1 = df1.rename(columns={'Daily_Customer_Count': 'Daily_customer_count'})
print(df1)

     Store_id  Store_Area  Items_Available  Daily_customer_count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [11]:
df2['Date'] = pd.to_datetime(df2['Date']).dt.strftime('%H')
df2 = df2.rename(columns={'Date': 'Time'})
df2 = df2.rename(columns={'Total_Cost': 'Total_Price'})
print(df2)

       Transaction_ID Time       Customer_Name  \
0          1000000000   19     Cheyenne Newman
1          1000000001   07    Emily Fitzgerald
2          1000000002   06        Michael Webb
3          1000000003   05        Kimberly Lin
4          1000000004   07     Cathy Hernandez
...               ...  ...                 ...
29993      1000029993   22  Casey Jennings DDS
29994      1000029994   03        Leah Aguilar
29995      1000029995   06      Candice Wilson
29996      1000029996   17              Jay Yu
29997      1000029997   07        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method           City         Store_Type  \
0            12.77      Debit Card       New York  Convenience Store
1            13.88      Debit Card        Houston        Supermarket
2            47.02      Debit Card          Miami  Convenience Store
3            83.86  Mobile Payment        Seattle     Warehouse Club
4            30.55      Debit Card        Houston     Warehouse Club
...            ...             ...            ...                ...
29993        73.93            Cash  San Francisco   Department Store
29994        31.57     Credit Card        Atlanta     Warehouse Club
29995        31.74      Debit Card       New York        Supermarket
29996         5.84            Cash        Chicago           Pharmacy
29997        51.10     Credit Card    Los Angeles        Supermarket

      Discount_Applied Customer_Category  Season                   Promotion
0                 True           Student  Winter                        None
1                False      Professional    Fall      BOGO (Buy One Get One)
2                False       Young Adult  Winter                        None
3                 True    Senior Citizen  Summer  Discount on Selected Items
4                False    Senior Citizen  Spring                        None
...                ...               ...     ...                         ...
29993             True          Teenager  Summer      BOGO (Buy One Get One)
29994            False          Teenager    Fall  Discount on Selected Items
29995             True      Professional  Spring  Discount on Selected Items
29996             True      Professional  Summer  Discount on Selected Items
29997             True       Young Adult    Fall  Discount on Selected Items

[29998 rows x 13 columns]

In [12]:
df2 = df2.drop('City', axis=1)
df2 = df2.drop('Discount_Applied', axis=1)
df2 = df2.drop('Customer_Category', axis=1)
df2 = df2.drop('Store_Type', axis=1)
print(df2)

       Transaction_ID Time       Customer_Name  \
0          1000000000   19     Cheyenne Newman
1          1000000001   07    Emily Fitzgerald
2          1000000002   06        Michael Webb
3          1000000003   05        Kimberly Lin
4          1000000004   07     Cathy Hernandez
...               ...  ...                 ...
29993      1000029993   22  Casey Jennings DDS
29994      1000029994   03        Leah Aguilar
29995      1000029995   06      Candice Wilson
29996      1000029996   17              Jay Yu
29997      1000029997   07        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method  Season                   Promotion
0            12.77      Debit Card  Winter                        None
1            13.88      Debit Card    Fall      BOGO (Buy One Get One)
2            47.02      Debit Card  Winter                        None
3            83.86  Mobile Payment  Summer  Discount on Selected Items
4            30.55      Debit Card  Spring                        None
...            ...             ...     ...                         ...
29993        73.93            Cash  Summer      BOGO (Buy One Get One)
29994        31.57     Credit Card    Fall  Discount on Selected Items
29995        31.74      Debit Card  Spring  Discount on Selected Items
29996         5.84            Cash  Summer  Discount on Selected Items
29997        51.10     Credit Card    Fall  Discount on Selected Items

[29998 rows x 9 columns]

In [13]:
print(df2)

       Transaction_ID Time       Customer_Name  \
0          1000000000   19     Cheyenne Newman
1          1000000001   07    Emily Fitzgerald
2          1000000002   06        Michael Webb
3          1000000003   05        Kimberly Lin
4          1000000004   07     Cathy Hernandez
...               ...  ...                 ...
29993      1000029993   22  Casey Jennings DDS
29994      1000029994   03        Leah Aguilar
29995      1000029995   06      Candice Wilson
29996      1000029996   17              Jay Yu
29997      1000029997   07        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method  Season                   Promotion
0            12.77      Debit Card  Winter                        None
1            13.88      Debit Card    Fall      BOGO (Buy One Get One)
2            47.02      Debit Card  Winter                        None
3            83.86  Mobile Payment  Summer  Discount on Selected Items
4            30.55      Debit Card  Spring                        None
...            ...             ...     ...                         ...
29993        73.93            Cash  Summer      BOGO (Buy One Get One)
29994        31.57     Credit Card    Fall  Discount on Selected Items
29995        31.74      Debit Card  Spring  Discount on Selected Items
29996         5.84            Cash  Summer  Discount on Selected Items
29997        51.10     Credit Card    Fall  Discount on Selected Items

[29998 rows x 9 columns]

In [14]:
coltoadd = pd.DataFrame({'Customer_Name': df2['Customer_Name'].copy()})
df.insert(1, 'Customer_name', coltoadd )

In [15]:
print(df)

       Customer_id     Customer_name  Gender  Age  Annual_Income  \
0                1   Cheyenne Newman    Male   19             15
1                2  Emily Fitzgerald    Male   21             15
2                3      Michael Webb  Female   20             16
3                4      Kimberly Lin  Female   23             16
4                5   Cathy Hernandez  Female   31             17
...            ...               ...     ...  ...            ...
14995        14996        Kyle Smith    Male   40            205
14996        14997       Jared Smith  Female   46            116
14997        14998      John Griffin    Male   19             77
14998        14999    Michael Palmer    Male   20             55
14999        15000       Megan Drake    Male   76             75

       Spending_Score  Membership
0                  39           1
1                  81           0
2                   6           1
3                  77           0
4                  40           1
...               ...         ...
14995              25           1
14996              11           0
14997              49           0
14998              50           1
14999              39           0

[15000 rows x 7 columns]

In [16]:
df3 = pd.DataFrame({'Time': df2['Time'].copy()})
coltoadd2 = pd.DataFrame({'Season': df2['Season'].copy()})
df3['Season'] = coltoadd2 
df3.insert(0, 'Time_id', range(1, len(df3) + 1))
print(df3.columns,df2.columns)

Index(['Time_id', 'Time', 'Season'], dtype='object') Index(['Transaction_ID', 'Time', 'Customer_Name', 'Product', 'Total_Items',
       'Total_Price', 'Payment_Method', 'Season', 'Promotion'],
      dtype='object')

In [17]:
print(df3)

       Time_id Time  Season
0            1   19  Winter
1            2   07    Fall
2            3   06  Winter
3            4   05  Summer
4            5   07  Spring
...        ...  ...     ...
29993    29994   22  Summer
29994    29995   03    Fall
29995    29996   06  Spring
29996    29997   17  Summer
29997    29998   07    Fall

[29998 rows x 3 columns]

In [18]:
df2 = df2.drop('Time', axis=1)
df2 = df2.drop('Customer_Name', axis=1)
df2 = df2.drop('Season', axis=1)
df2 = df2.drop('Product', axis=1)
df2 = df2.rename(columns={'Transaction_ID': 'Transaction_id'})
print(df2)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [19]:
print(df.columns)
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['Customer_id', 'Customer_name', 'Gender', 'Age', 'Annual_Income',
       'Spending_Score', 'Membership'],
      dtype='object')
Index(['Store_id', 'Store_Area', 'Items_Available', 'Daily_customer_count',
       'Store_Sales'],
      dtype='object')
Index(['Transaction_id', 'Total_Items', 'Total_Price', 'Payment_Method',
       'Promotion'],
      dtype='object')
Index(['Time_id', 'Time', 'Season'], dtype='object')

In [20]:
import pandas as pd
import random
shorter_df = df1 if len(df1) < len(df2) else df2
longer_df = df2 if len(df1) < len(df2) else df1

In [21]:
print(shorter_df)
print(longer_df)

     Store_id  Store_Area  Items_Available  Daily_customer_count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]
       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [22]:
shorter_df = shorter_df.sample(n=len(longer_df), replace=True).reset_index(drop=True)

In [23]:
df4 = pd.merge(longer_df, shorter_df, left_index=True, right_index=True, how='outer', suffixes=('_df1', '_df2'))

In [24]:
print(df4)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion  Store_id  Store_Area  Items_Available  \
0                            None       587        1609             1930
1          BOGO (Buy One Get One)       656        1193             1430
2                            None       211        1309             1572
3      Discount on Selected Items       663        1211             1447
4                            None       851        1977             2362
...                           ...       ...         ...              ...
29993      BOGO (Buy One Get One)       754        1453             1749
29994  Discount on Selected Items       864        1180             1397
29995  Discount on Selected Items       789        1441             1747
29996  Discount on Selected Items       289        1386             1674
29997  Discount on Selected Items       548        1141             1353

       Daily_customer_count  Store_Sales
0                       740        76470
1                       560        80830
2                       510        52280
3                      1110        40730
4                      1020        59950
...                     ...          ...
29993                   890        58440
29994                   750        39140
29995                   670        44370
29996                  1210        58610
29997                  1370        72000

[29998 rows x 10 columns]

In [25]:
import pandas as pd
import random
shorter_df = df4 if len(df4) < len(df) else df
longer_df = df if len(df4) < len(df) else df4

In [26]:
shorter_df = shorter_df.sample(n=len(longer_df), replace=True).reset_index(drop=True)

In [27]:
df5 = pd.merge(longer_df, shorter_df, left_index=True, right_index=True, how='outer', suffixes=('_df1', '_df2'))

In [28]:
print(df5)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion  Store_id  Store_Area  Items_Available  \
0                            None       587        1609             1930
1          BOGO (Buy One Get One)       656        1193             1430
2                            None       211        1309             1572
3      Discount on Selected Items       663        1211             1447
4                            None       851        1977             2362
...                           ...       ...         ...              ...
29993      BOGO (Buy One Get One)       754        1453             1749
29994  Discount on Selected Items       864        1180             1397
29995  Discount on Selected Items       789        1441             1747
29996  Discount on Selected Items       289        1386             1674
29997  Discount on Selected Items       548        1141             1353

       Daily_customer_count  Store_Sales  Customer_id      Customer_name  \
0                       740        76470         4066    Gina Fitzgerald
1                       560        80830         9173        Dawn Garcia
2                       510        52280        11704        Don Nichols
3                      1110        40730         3510     Courtney Perez
4                      1020        59950         8833   Whitney Gonzalez
...                     ...          ...          ...                ...
29993                   890        58440           40        Joanne Wood
29994                   750        39140         4847         Jon Walton
29995                   670        44370         9650         Roy Jensen
29996                  1210        58610        10232      Daniel Wilcox
29997                  1370        72000        14790  William Hernandez

       Gender  Age  Annual_Income  Spending_Score  Membership
0        Male   30            276              38           1
1        Male   20            178              40           0
2      Female   51             60              58           0
3      Female   46            120              91           0
4        Male   17             92              60           0
...       ...  ...            ...             ...         ...
29993  Female   20             37              75           1
29994  Female   74            157              97           0
29995    Male   19            167              80           1
29996    Male   49            280              72           0
29997  Female   27            254              81           1

[29998 rows x 17 columns]

In [29]:
df5 = pd.merge(df5, df3, left_index=True, right_index=True, how='outer', suffixes=('_df5', '_df3'))

In [30]:
df5 = df5.drop('Season', axis=1)
df5 = df5.drop('Time', axis=1)
df5 = df5.drop('Payment_Method', axis=1)
df5 = df5.drop('Promotion', axis=1)
df5 = df5.drop('Store_Area', axis=1)
df5 = df5.drop('Customer_name', axis=1)
df5 = df5.drop('Gender', axis=1)
df5 = df5.drop('Age', axis=1)
df5 = df5.drop('Annual_Income', axis=1)
df5 = df5.drop('Spending_Score', axis=1)
df5 = df5.drop('Membership', axis=1)     
    
df5 = df5.drop('Items_Available', axis=1)

In [31]:
column_order = ['Transaction_id', 'Store_id', 'Time_id','Customer_id','Total_Items','Total_Price','Daily_customer_count','Store_Sales']
df5 = df5[column_order]

In [32]:
print(df5)

       Transaction_id  Store_id  Time_id  Customer_id  Total_Items  \
0          1000000000       587        1         4066            6
1          1000000001       656        2         9173            5
2          1000000002       211        3        11704            7
3          1000000003       663        4         3510            9
4          1000000004       851        5         8833            4
...               ...       ...      ...          ...          ...
29993      1000029993       754    29994           40            8
29994      1000029994       864    29995         4847           10
29995      1000029995       789    29996         9650            7
29996      1000029996       289    29997        10232            8
29997      1000029997       548    29998        14790            7

       Total_Price  Daily_customer_count  Store_Sales
0            12.77                   740        76470
1            13.88                   560        80830
2            47.02                   510        52280
3            83.86                  1110        40730
4            30.55                  1020        59950
...            ...                   ...          ...
29993        73.93                   890        58440
29994        31.57                   750        39140
29995        31.74                   670        44370
29996         5.84                  1210        58610
29997        51.10                  1370        72000

[29998 rows x 8 columns]

In [33]:
print(df2)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [34]:
df2 = df2.drop('Total_Items', axis=1)
df2 = df2.drop('Total_Price', axis=1)

In [35]:
print(df2)

       Transaction_id  Payment_Method                   Promotion
0          1000000000      Debit Card                        None
1          1000000001      Debit Card      BOGO (Buy One Get One)
2          1000000002      Debit Card                        None
3          1000000003  Mobile Payment  Discount on Selected Items
4          1000000004      Debit Card                        None
...               ...             ...                         ...
29993      1000029993            Cash      BOGO (Buy One Get One)
29994      1000029994     Credit Card  Discount on Selected Items
29995      1000029995      Debit Card  Discount on Selected Items
29996      1000029996            Cash  Discount on Selected Items
29997      1000029997     Credit Card  Discount on Selected Items

[29998 rows x 3 columns]

In [36]:
print(df1)

     Store_id  Store_Area  Items_Available  Daily_customer_count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [37]:
df1 = df1.drop('Daily_customer_count', axis=1)
df1 = df1.drop('Store_Sales', axis=1)

In [38]:
print(df1)

     Store_id  Store_Area  Items_Available
0           1        1659             1961
1           2        1461             1752
2           3        1340             1609
3           4        1451             1748
4           5        1770             2111
..        ...         ...              ...
891       892        1582             1910
892       893        1387             1663
893       894        1200             1436
894       895        1299             1560
895       896        1174             1429

[896 rows x 3 columns]

In [39]:
df5 = df5.rename(columns={'Total_Price': 'Sales'})
df5 = df5.rename(columns={'Total_Items': 'Quantity'})

In [40]:
print(df5)

       Transaction_id  Store_id  Time_id  Customer_id  Quantity  Sales  \
0          1000000000       587        1         4066         6  12.77
1          1000000001       656        2         9173         5  13.88
2          1000000002       211        3        11704         7  47.02
3          1000000003       663        4         3510         9  83.86
4          1000000004       851        5         8833         4  30.55
...               ...       ...      ...          ...       ...    ...
29993      1000029993       754    29994           40         8  73.93
29994      1000029994       864    29995         4847        10  31.57
29995      1000029995       789    29996         9650         7  31.74
29996      1000029996       289    29997        10232         8   5.84
29997      1000029997       548    29998        14790         7  51.10

       Daily_customer_count  Store_Sales
0                       740        76470
1                       560        80830
2                       510        52280
3                      1110        40730
4                      1020        59950
...                     ...          ...
29993                   890        58440
29994                   750        39140
29995                   670        44370
29996                  1210        58610
29997                  1370        72000

[29998 rows x 8 columns]

# loading

In [41]:
db_config = { 'host': '127.0.0.1', 
              'user': 'root', 
              'password': '', 
              'database': 'bi_project'}

In [42]:
# loading
#pip install mysql-connector-python
#pip install pymysql
#pip install sqlalchemy pymysql
import pymysql
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

In [43]:
conn = mysql.connector.connect(**db_config)

In [44]:
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")

In [45]:
df.to_sql(name='customer_dim', con=engine, if_exists='append', index=False)

15000

In [46]:
df1.to_sql(name='store_dim', con=engine, if_exists='append', index=False)

896

In [47]:
df3.to_sql(name='time_dim', con=engine, if_exists='append', index=False)

29998

In [48]:
df2.to_sql(name='transaction_dim', con=engine, if_exists='append', index=False)

29998

In [49]:
df5.to_sql(name='retail_stores_sales', con=engine, if_exists='append', index=False)

29998