In [1]:
import pandas as pd 
import glob as g 
import numpy as np

In [2]:
# integration 
df=pd.read_csv("https://raw.githubusercontent.com/Aya123-sys/task1/main/Mall_Customers.csv")
print(df)

     CustomerID  Gender  Age  Annual Income  Spending Score
0             1    Male   19             15               39
1             2    Male   21             15               81
2             3  Female   20             16                6
3             4  Female   23             16               77
4             5  Female   31             17               40
..          ...     ...  ...            ...              ...
195         196  Female   35            120               79
196         197  Female   45            126               28
197         198    Male   32            126               74
198         199    Male   32            137               18
199         200    Male   30            137               83

[200 rows x 5 columns]

In [3]:
df1=pd.read_json("https://raw.githubusercontent.com/Aya123-sys/task1/main/stores.json")
print(df1)

     Store ID  Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [4]:
df2=pd.read_json("https://raw.githubusercontent.com/Aya123-sys/task1/main/markett.json")

In [5]:
print(df2)

       Transaction_ID                Date       Customer_Name  \
0          1000000000 2020-12-21 19:42:52     Cheyenne Newman
1          1000000001 2020-07-06 07:45:16    Emily Fitzgerald
2          1000000002 2021-10-02 06:28:44        Michael Webb
3          1000000003 2022-01-10 05:39:02        Kimberly Lin
4          1000000004 2021-10-13 07:28:47     Cathy Hernandez
...               ...                 ...                 ...
29993      1000029993 2020-06-15 22:30:57  Casey Jennings DDS
29994      1000029994 2021-04-04 03:37:08        Leah Aguilar
29995      1000029995 2023-10-16 06:01:01      Candice Wilson
29996      1000029996 2020-04-08 17:31:16              Jay Yu
29997      1000029997 2020-12-18 07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Cost  Payment_Method           City         Store_Type  \
0           12.77      Debit Card       New York  Convenience Store
1           13.88      Debit Card        Houston        Supermarket
2           47.02      Debit Card          Miami  Convenience Store
3           83.86  Mobile Payment        Seattle     Warehouse Club
4           30.55      Debit Card        Houston     Warehouse Club
...           ...             ...            ...                ...
29993       73.93            Cash  San Francisco   Department Store
29994       31.57     Credit Card        Atlanta     Warehouse Club
29995       31.74      Debit Card       New York        Supermarket
29996        5.84            Cash        Chicago           Pharmacy
29997       51.10     Credit Card    Los Angeles        Supermarket

      Discount_Applied Customer_Category  Season                   Promotion
0                 True           Student  Winter                        None
1                False      Professional    Fall      BOGO (Buy One Get One)
2                False       Young Adult  Winter                        None
3                 True    Senior Citizen  Summer  Discount on Selected Items
4                False    Senior Citizen  Spring                        None
...                ...               ...     ...                         ...
29993             True          Teenager  Summer      BOGO (Buy One Get One)
29994            False          Teenager    Fall  Discount on Selected Items
29995             True      Professional  Spring  Discount on Selected Items
29996             True      Professional  Summer  Discount on Selected Items
29997             True       Young Adult    Fall  Discount on Selected Items

[29998 rows x 13 columns]

In [6]:
# transformation

df = df.rename(columns={'Annual Income': 'Annual_Income'})
df = df.rename(columns={'Spending Score ': 'Spending_Score'})
df = df.rename(columns={'CustomerID':'Customer_id'})
print(df)

     Customer_id  Gender  Age  Annual_Income  Spending_Score
0              1    Male   19             15              39
1              2    Male   21             15              81
2              3  Female   20             16               6
3              4  Female   23             16              77
4              5  Female   31             17              40
..           ...     ...  ...            ...             ...
195          196  Female   35            120              79
196          197  Female   45            126              28
197          198    Male   32            126              74
198          199    Male   32            137              18
199          200    Male   30            137              83

[200 rows x 5 columns]

In [7]:
# Function to generate random data
def generate_random_data(num_rows):
    ID = range(max(df['Customer_id']) + 1, max(df['Customer_id']) + num_rows + 1)
    Gender = np.random.choice(['Male', 'Female'], size=num_rows)
    Age = np.random.randint(15, 90, size=num_rows)
    Income = np.random.randint(1, 300, size=num_rows)
    Score = np.random.randint(1, 100, size=num_rows)
    return {'Customer_id': ID, 'Gender': Gender, 'Age': Age, 'Annual_Income': Income, 'Spending_Score': Score}

In [8]:
random_data = generate_random_data(num_rows=14800)
random_df = pd.DataFrame(random_data)
df = pd.concat([df, random_df], ignore_index=True)
df['Membership'] = np.random.choice([0,1],size=15000)

print(df)

       Customer_id  Gender  Age  Annual_Income  Spending_Score  Membership
0                1    Male   19             15              39           1
1                2    Male   21             15              81           1
2                3  Female   20             16               6           1
3                4  Female   23             16              77           1
4                5  Female   31             17              40           1
...            ...     ...  ...            ...             ...         ...
14995        14996  Female   87            109              21           0
14996        14997  Female   17            280               5           1
14997        14998  Female   60            231              89           0
14998        14999    Male   56            229               9           0
14999        15000    Male   28             77              59           1

[15000 rows x 6 columns]

In [9]:
df1 = df1.rename(columns={'Store ID': 'Store_id'})
df1 = df1.rename(columns={'Store_Area': 'Store_Area'})
df1 = df1.rename(columns={'Daily_Customer_Count': 'Daily_customer_count'})
print(df)

       Customer_id  Gender  Age  Annual_Income  Spending_Score  Membership
0                1    Male   19             15              39           1
1                2    Male   21             15              81           1
2                3  Female   20             16               6           1
3                4  Female   23             16              77           1
4                5  Female   31             17              40           1
...            ...     ...  ...            ...             ...         ...
14995        14996  Female   87            109              21           0
14996        14997  Female   17            280               5           1
14997        14998  Female   60            231              89           0
14998        14999    Male   56            229               9           0
14999        15000    Male   28             77              59           1

[15000 rows x 6 columns]

In [10]:
df2['Date'] = pd.to_datetime(df2['Date']).dt.strftime('%H:%M:%S')
df2 = df2.rename(columns={'Date': 'Time'})
df2 = df2.rename(columns={'Total_Cost': 'Total_Price'})
print(df2)

       Transaction_ID      Time       Customer_Name  \
0          1000000000  19:42:52     Cheyenne Newman
1          1000000001  07:45:16    Emily Fitzgerald
2          1000000002  06:28:44        Michael Webb
3          1000000003  05:39:02        Kimberly Lin
4          1000000004  07:28:47     Cathy Hernandez
...               ...       ...                 ...
29993      1000029993  22:30:57  Casey Jennings DDS
29994      1000029994  03:37:08        Leah Aguilar
29995      1000029995  06:01:01      Candice Wilson
29996      1000029996  17:31:16              Jay Yu
29997      1000029997  07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method           City         Store_Type  \
0            12.77      Debit Card       New York  Convenience Store
1            13.88      Debit Card        Houston        Supermarket
2            47.02      Debit Card          Miami  Convenience Store
3            83.86  Mobile Payment        Seattle     Warehouse Club
4            30.55      Debit Card        Houston     Warehouse Club
...            ...             ...            ...                ...
29993        73.93            Cash  San Francisco   Department Store
29994        31.57     Credit Card        Atlanta     Warehouse Club
29995        31.74      Debit Card       New York        Supermarket
29996         5.84            Cash        Chicago           Pharmacy
29997        51.10     Credit Card    Los Angeles        Supermarket

      Discount_Applied Customer_Category  Season                   Promotion
0                 True           Student  Winter                        None
1                False      Professional    Fall      BOGO (Buy One Get One)
2                False       Young Adult  Winter                        None
3                 True    Senior Citizen  Summer  Discount on Selected Items
4                False    Senior Citizen  Spring                        None
...                ...               ...     ...                         ...
29993             True          Teenager  Summer      BOGO (Buy One Get One)
29994            False          Teenager    Fall  Discount on Selected Items
29995             True      Professional  Spring  Discount on Selected Items
29996             True      Professional  Summer  Discount on Selected Items
29997             True       Young Adult    Fall  Discount on Selected Items

[29998 rows x 13 columns]

In [11]:
df2 = df2.drop('City', axis=1)
df2 = df2.drop('Discount_Applied', axis=1)
df2 = df2.drop('Customer_Category', axis=1)
df2 = df2.drop('Store_Type', axis=1)
print(df2)

       Transaction_ID      Time       Customer_Name  \
0          1000000000  19:42:52     Cheyenne Newman
1          1000000001  07:45:16    Emily Fitzgerald
2          1000000002  06:28:44        Michael Webb
3          1000000003  05:39:02        Kimberly Lin
4          1000000004  07:28:47     Cathy Hernandez
...               ...       ...                 ...
29993      1000029993  22:30:57  Casey Jennings DDS
29994      1000029994  03:37:08        Leah Aguilar
29995      1000029995  06:01:01      Candice Wilson
29996      1000029996  17:31:16              Jay Yu
29997      1000029997  07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method  Season                   Promotion
0            12.77      Debit Card  Winter                        None
1            13.88      Debit Card    Fall      BOGO (Buy One Get One)
2            47.02      Debit Card  Winter                        None
3            83.86  Mobile Payment  Summer  Discount on Selected Items
4            30.55      Debit Card  Spring                        None
...            ...             ...     ...                         ...
29993        73.93            Cash  Summer      BOGO (Buy One Get One)
29994        31.57     Credit Card    Fall  Discount on Selected Items
29995        31.74      Debit Card  Spring  Discount on Selected Items
29996         5.84            Cash  Summer  Discount on Selected Items
29997        51.10     Credit Card    Fall  Discount on Selected Items

[29998 rows x 9 columns]

In [12]:
print(df2)

       Transaction_ID      Time       Customer_Name  \
0          1000000000  19:42:52     Cheyenne Newman
1          1000000001  07:45:16    Emily Fitzgerald
2          1000000002  06:28:44        Michael Webb
3          1000000003  05:39:02        Kimberly Lin
4          1000000004  07:28:47     Cathy Hernandez
...               ...       ...                 ...
29993      1000029993  22:30:57  Casey Jennings DDS
29994      1000029994  03:37:08        Leah Aguilar
29995      1000029995  06:01:01      Candice Wilson
29996      1000029996  17:31:16              Jay Yu
29997      1000029997  07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method  Season                   Promotion
0            12.77      Debit Card  Winter                        None
1            13.88      Debit Card    Fall      BOGO (Buy One Get One)
2            47.02      Debit Card  Winter                        None
3            83.86  Mobile Payment  Summer  Discount on Selected Items
4            30.55      Debit Card  Spring                        None
...            ...             ...     ...                         ...
29993        73.93            Cash  Summer      BOGO (Buy One Get One)
29994        31.57     Credit Card    Fall  Discount on Selected Items
29995        31.74      Debit Card  Spring  Discount on Selected Items
29996         5.84            Cash  Summer  Discount on Selected Items
29997        51.10     Credit Card    Fall  Discount on Selected Items

[29998 rows x 9 columns]

In [13]:
coltoadd = pd.DataFrame({'Customer_Name': df2['Customer_Name'].copy()})
df.insert(1, 'Customer_name', coltoadd )

In [14]:
print(df)

       Customer_id     Customer_name  Gender  Age  Annual_Income  \
0                1   Cheyenne Newman    Male   19             15
1                2  Emily Fitzgerald    Male   21             15
2                3      Michael Webb  Female   20             16
3                4      Kimberly Lin  Female   23             16
4                5   Cathy Hernandez  Female   31             17
...            ...               ...     ...  ...            ...
14995        14996        Kyle Smith  Female   87            109
14996        14997       Jared Smith  Female   17            280
14997        14998      John Griffin  Female   60            231
14998        14999    Michael Palmer    Male   56            229
14999        15000       Megan Drake    Male   28             77

       Spending_Score  Membership
0                  39           1
1                  81           1
2                   6           1
3                  77           1
4                  40           1
...               ...         ...
14995              21           0
14996               5           1
14997              89           0
14998               9           0
14999              59           1

[15000 rows x 7 columns]

In [15]:
df3 = pd.DataFrame({'Time': df2['Time'].copy()})
coltoadd2 = pd.DataFrame({'Season': df2['Season'].copy()})
df3['Season'] = coltoadd2 
df3.insert(0, 'Time_id', range(1, len(df3) + 1))
print(df3.columns,df2.columns)

Index(['Time_id', 'Time', 'Season'], dtype='object') Index(['Transaction_ID', 'Time', 'Customer_Name', 'Product', 'Total_Items',
       'Total_Price', 'Payment_Method', 'Season', 'Promotion'],
      dtype='object')

In [16]:
print(df3)

       Time_id      Time  Season
0            1  19:42:52  Winter
1            2  07:45:16    Fall
2            3  06:28:44  Winter
3            4  05:39:02  Summer
4            5  07:28:47  Spring
...        ...       ...     ...
29993    29994  22:30:57  Summer
29994    29995  03:37:08    Fall
29995    29996  06:01:01  Spring
29996    29997  17:31:16  Summer
29997    29998  07:10:45    Fall

[29998 rows x 3 columns]

In [17]:
df2 = df2.drop('Time', axis=1)
df2 = df2.drop('Customer_Name', axis=1)
df2 = df2.drop('Season', axis=1)
df2 = df2.drop('Product', axis=1)
df2 = df2.rename(columns={'Transaction_ID': 'Transaction_id'})
print(df2)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [18]:
print(df.columns)
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['Customer_id', 'Customer_name', 'Gender', 'Age', 'Annual_Income',
       'Spending_Score', 'Membership'],
      dtype='object')
Index(['Store_id', 'Store_Area', 'Items_Available', 'Daily_customer_count',
       'Store_Sales'],
      dtype='object')
Index(['Transaction_id', 'Total_Items', 'Total_Price', 'Payment_Method',
       'Promotion'],
      dtype='object')
Index(['Time_id', 'Time', 'Season'], dtype='object')

In [19]:
import pandas as pd
import random
shorter_df = df1 if len(df1) < len(df2) else df2
longer_df = df2 if len(df1) < len(df2) else df1

In [20]:
print(shorter_df)
print(longer_df)

     Store_id  Store_Area  Items_Available  Daily_customer_count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]
       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [21]:
shorter_df = shorter_df.sample(n=len(longer_df), replace=True).reset_index(drop=True)

In [22]:
df4 = pd.merge(longer_df, shorter_df, left_index=True, right_index=True, how='outer', suffixes=('_df1', '_df2'))

In [23]:
print(df4)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion  Store_id  Store_Area  Items_Available  \
0                            None       701        1872             2262
1          BOGO (Buy One Get One)       104        1374             1655
2                            None       309        1550             1871
3      Discount on Selected Items       220        1390             1687
4                            None       225        1647             1962
...                           ...       ...         ...              ...
29993      BOGO (Buy One Get One)       148        1250             1486
29994  Discount on Selected Items       811         994             1194
29995  Discount on Selected Items       722        1766             2109
29996  Discount on Selected Items        19        1438             1731
29997  Discount on Selected Items       233        1245             1499

       Daily_customer_count  Store_Sales
0                       560        62050
1                      1080        94170
2                       590        74320
3                       620        73990
4                       800        70020
...                     ...          ...
29993                   730        50360
29994                  1090        81390
29995                  1120        57910
29996                  1030        63540
29997                   570        45650

[29998 rows x 10 columns]

In [24]:
import pandas as pd
import random
shorter_df = df4 if len(df4) < len(df) else df
longer_df = df if len(df4) < len(df) else df4

In [25]:
shorter_df = shorter_df.sample(n=len(longer_df), replace=True).reset_index(drop=True)

In [26]:
df5 = pd.merge(longer_df, shorter_df, left_index=True, right_index=True, how='outer', suffixes=('_df1', '_df2'))

In [27]:
print(df5)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion  Store_id  Store_Area  Items_Available  \
0                            None       701        1872             2262
1          BOGO (Buy One Get One)       104        1374             1655
2                            None       309        1550             1871
3      Discount on Selected Items       220        1390             1687
4                            None       225        1647             1962
...                           ...       ...         ...              ...
29993      BOGO (Buy One Get One)       148        1250             1486
29994  Discount on Selected Items       811         994             1194
29995  Discount on Selected Items       722        1766             2109
29996  Discount on Selected Items        19        1438             1731
29997  Discount on Selected Items       233        1245             1499

       Daily_customer_count  Store_Sales  Customer_id     Customer_name  \
0                       560        62050          686     Darrell Davis
1                      1080        94170        10696      Denise Stark
2                       590        74320         4928     Cheryl Hoover
3                       620        73990        13582     Michael Burns
4                       800        70020         9834      James Suarez
...                     ...          ...          ...               ...
29993                   730        50360         5461   Austin Jacobson
29994                  1090        81390         6276      Kaitlin Chen
29995                  1120        57910          107   Kaitlin Watkins
29996                  1030        63540        11064  Rachael Sullivan
29997                   570        45650         5193       Luke Wilson

       Gender  Age  Annual_Income  Spending_Score  Membership
0      Female   22              9              39           1
1        Male   83             20              31           1
2      Female   88            240              61           1
3      Female   54             56              96           1
4      Female   56            281              40           1
...       ...  ...            ...             ...         ...
29993  Female   22             70              76           1
29994  Female   64            100              42           0
29995  Female   66             63              50           0
29996  Female   45            248              99           1
29997  Female   69            223              31           1

[29998 rows x 17 columns]

In [28]:
df5 = pd.merge(df5, df3, left_index=True, right_index=True, how='outer', suffixes=('_df5', '_df3'))

In [29]:
df5 = df5.drop('Season', axis=1)
df5 = df5.drop('Time', axis=1)
df5 = df5.drop('Payment_Method', axis=1)
df5 = df5.drop('Promotion', axis=1)
df5 = df5.drop('Store_Area', axis=1)
df5 = df5.drop('Customer_name', axis=1)
df5 = df5.drop('Gender', axis=1)
df5 = df5.drop('Age', axis=1)
df5 = df5.drop('Annual_Income', axis=1)
df5 = df5.drop('Spending_Score', axis=1)
df5 = df5.drop('Membership', axis=1)

In [30]:
df5 = df5.drop('Items_Available', axis=1)

In [54]:
print(df5)

       Transaction_id  Total_Items  Total_Price  Store_id  \
0          1000000000            6        12.77       701
1          1000000001            5        13.88       104
2          1000000002            7        47.02       309
3          1000000003            9        83.86       220
4          1000000004            4        30.55       225
...               ...          ...          ...       ...
29993      1000029993            8        73.93       148
29994      1000029994           10        31.57       811
29995      1000029995            7        31.74       722
29996      1000029996            8         5.84        19
29997      1000029997            7        51.10       233

       Daily_customer_count  Store_Sales  Customer_id  Time_id
0                       560        62050          686        1
1                      1080        94170        10696        2
2                       590        74320         4928        3
3                       620        73990        13582        4
4                       800        70020         9834        5
...                     ...          ...          ...      ...
29993                   730        50360         5461    29994
29994                  1090        81390         6276    29995
29995                  1120        57910          107    29996
29996                  1030        63540        11064    29997
29997                   570        45650         5193    29998

[29998 rows x 8 columns]

In [32]:
print(df2)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [33]:
df2 = df2.drop('Total_Items', axis=1)
df2 = df2.drop('Total_Price', axis=1)

In [34]:
print(df2)

       Transaction_id  Payment_Method                   Promotion
0          1000000000      Debit Card                        None
1          1000000001      Debit Card      BOGO (Buy One Get One)
2          1000000002      Debit Card                        None
3          1000000003  Mobile Payment  Discount on Selected Items
4          1000000004      Debit Card                        None
...               ...             ...                         ...
29993      1000029993            Cash      BOGO (Buy One Get One)
29994      1000029994     Credit Card  Discount on Selected Items
29995      1000029995      Debit Card  Discount on Selected Items
29996      1000029996            Cash  Discount on Selected Items
29997      1000029997     Credit Card  Discount on Selected Items

[29998 rows x 3 columns]

In [43]:
print(df1)

     Store_id  Store_Area  Items_Available  Daily_customer_count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [44]:
df1 = df1.drop('Daily_customer_count', axis=1)
df1 = df1.drop('Store_Sales', axis=1)

In [45]:
print(df1)

     Store_id  Store_Area  Items_Available
0           1        1659             1961
1           2        1461             1752
2           3        1340             1609
3           4        1451             1748
4           5        1770             2111
..        ...         ...              ...
891       892        1582             1910
892       893        1387             1663
893       894        1200             1436
894       895        1299             1560
895       896        1174             1429

[896 rows x 3 columns]

In [35]:
db_config = { 'host': '127.0.0.1', 
              'user': 'root', 
              'password': '', 
              'database': 'bi_project'}

# loading

In [56]:
# loading
#pip install mysql-connector-python
#pip install pymysql
#pip install sqlalchemy pymysql
import pymysql
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

In [57]:
conn = mysql.connector.connect(**db_config)

In [58]:
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")

In [49]:
df.to_sql(name='customer_dim', con=engine, if_exists='append', index=False)

15000

In [50]:
df1.to_sql(name='store_dim', con=engine, if_exists='append', index=False)

896

In [51]:
df3.to_sql(name='time_dim', con=engine, if_exists='append', index=False)

29998

In [ ]:
df2.to_sql(name='transaction_dim', con=engine, if_exists='append', index=False)

In [ ]:
df5.to_sql(name='retail_stores_sales', con=engine, if_exists='append', index=False)