In [162]:
import pandas as pd 
import glob as g 
import numpy as np

In [163]:
# integration 
df=pd.read_csv("https://raw.githubusercontent.com/Aya123-sys/task1/main/Mall_Customers.csv")
print(df)

     CustomerID  Gender  Age  Annual Income  Spending Score
0             1    Male   19             15               39
1             2    Male   21             15               81
2             3  Female   20             16                6
3             4  Female   23             16               77
4             5  Female   31             17               40
..          ...     ...  ...            ...              ...
195         196  Female   35            120               79
196         197  Female   45            126               28
197         198    Male   32            126               74
198         199    Male   32            137               18
199         200    Male   30            137               83

[200 rows x 5 columns]

In [164]:
df1=pd.read_json("https://raw.githubusercontent.com/Aya123-sys/task1/main/stores.json")
print(df1)

     Store ID  Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [165]:
df2=pd.read_json("https://raw.githubusercontent.com/Aya123-sys/task1/main/markett.json")

In [126]:
print(df2)

       Transaction_ID                Date       Customer_Name  \
0          1000000000 2020-12-21 19:42:52     Cheyenne Newman
1          1000000001 2020-07-06 07:45:16    Emily Fitzgerald
2          1000000002 2021-10-02 06:28:44        Michael Webb
3          1000000003 2022-01-10 05:39:02        Kimberly Lin
4          1000000004 2021-10-13 07:28:47     Cathy Hernandez
...               ...                 ...                 ...
29993      1000029993 2020-06-15 22:30:57  Casey Jennings DDS
29994      1000029994 2021-04-04 03:37:08        Leah Aguilar
29995      1000029995 2023-10-16 06:01:01      Candice Wilson
29996      1000029996 2020-04-08 17:31:16              Jay Yu
29997      1000029997 2020-12-18 07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Cost  Payment_Method           City         Store_Type  \
0           12.77      Debit Card       New York  Convenience Store
1           13.88      Debit Card        Houston        Supermarket
2           47.02      Debit Card          Miami  Convenience Store
3           83.86  Mobile Payment        Seattle     Warehouse Club
4           30.55      Debit Card        Houston     Warehouse Club
...           ...             ...            ...                ...
29993       73.93            Cash  San Francisco   Department Store
29994       31.57     Credit Card        Atlanta     Warehouse Club
29995       31.74      Debit Card       New York        Supermarket
29996        5.84            Cash        Chicago           Pharmacy
29997       51.10     Credit Card    Los Angeles        Supermarket

      Discount_Applied Customer_Category  Season                   Promotion
0                 True           Student  Winter                        None
1                False      Professional    Fall      BOGO (Buy One Get One)
2                False       Young Adult  Winter                        None
3                 True    Senior Citizen  Summer  Discount on Selected Items
4                False    Senior Citizen  Spring                        None
...                ...               ...     ...                         ...
29993             True          Teenager  Summer      BOGO (Buy One Get One)
29994            False          Teenager    Fall  Discount on Selected Items
29995             True      Professional  Spring  Discount on Selected Items
29996             True      Professional  Summer  Discount on Selected Items
29997             True       Young Adult    Fall  Discount on Selected Items

[29998 rows x 13 columns]

In [166]:
# transformation

df = df.rename(columns={'Annual Income': 'Annual_Income'})
df = df.rename(columns={'Spending Score ': 'Spending_Score'})
df = df.rename(columns={'CustomerID':'Customer_id'})
print(df)

     Customer_id  Gender  Age  Annual_Income  Spending_Score
0              1    Male   19             15              39
1              2    Male   21             15              81
2              3  Female   20             16               6
3              4  Female   23             16              77
4              5  Female   31             17              40
..           ...     ...  ...            ...             ...
195          196  Female   35            120              79
196          197  Female   45            126              28
197          198    Male   32            126              74
198          199    Male   32            137              18
199          200    Male   30            137              83

[200 rows x 5 columns]

In [167]:
# Function to generate random data
def generate_random_data(num_rows):
    ID = range(max(df['Customer_id']) + 1, max(df['Customer_id']) + num_rows + 1)
    Gender = np.random.choice(['Male', 'Female'], size=num_rows)
    Age = np.random.randint(15, 90, size=num_rows)
    Income = np.random.randint(1, 300, size=num_rows)
    Score = np.random.randint(1, 100, size=num_rows)
    return {'Customer_id': ID, 'Gender': Gender, 'Age': Age, 'Annual_Income': Income, 'Spending_Score': Score}

In [168]:
random_data = generate_random_data(num_rows=14800)
random_df = pd.DataFrame(random_data)
df = pd.concat([df, random_df], ignore_index=True)
df['Membership'] = np.random.choice([0,1],size=15000)

print(df)

       Customer_id  Gender  Age  Annual_Income  Spending_Score  Membership
0                1    Male   19             15              39           0
1                2    Male   21             15              81           1
2                3  Female   20             16               6           1
3                4  Female   23             16              77           1
4                5  Female   31             17              40           0
...            ...     ...  ...            ...             ...         ...
14995        14996    Male   52            275              55           0
14996        14997    Male   21            265              80           0
14997        14998    Male   84            215              29           1
14998        14999  Female   41             48              15           1
14999        15000  Female   16             87              41           0

[15000 rows x 6 columns]

In [169]:
df1 = df1.rename(columns={'Store ID': 'Store_id'})
df1 = df1.rename(columns={'Store_Area': 'Store_Area'})
df1 = df1.rename(columns={'Daily_Customer_Count': 'Daily_customer_count'})
print(df1)

     Store_id  Store_Area  Items_Available  Daily_customer_count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [170]:
df2['Date'] = pd.to_datetime(df2['Date']).dt.strftime('%H:%M:%S')
df2 = df2.rename(columns={'Date': 'Time'})
df2 = df2.rename(columns={'Total_Cost': 'Total_Price'})
print(df2)

       Transaction_ID      Time       Customer_Name  \
0          1000000000  19:42:52     Cheyenne Newman
1          1000000001  07:45:16    Emily Fitzgerald
2          1000000002  06:28:44        Michael Webb
3          1000000003  05:39:02        Kimberly Lin
4          1000000004  07:28:47     Cathy Hernandez
...               ...       ...                 ...
29993      1000029993  22:30:57  Casey Jennings DDS
29994      1000029994  03:37:08        Leah Aguilar
29995      1000029995  06:01:01      Candice Wilson
29996      1000029996  17:31:16              Jay Yu
29997      1000029997  07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method           City         Store_Type  \
0            12.77      Debit Card       New York  Convenience Store
1            13.88      Debit Card        Houston        Supermarket
2            47.02      Debit Card          Miami  Convenience Store
3            83.86  Mobile Payment        Seattle     Warehouse Club
4            30.55      Debit Card        Houston     Warehouse Club
...            ...             ...            ...                ...
29993        73.93            Cash  San Francisco   Department Store
29994        31.57     Credit Card        Atlanta     Warehouse Club
29995        31.74      Debit Card       New York        Supermarket
29996         5.84            Cash        Chicago           Pharmacy
29997        51.10     Credit Card    Los Angeles        Supermarket

      Discount_Applied Customer_Category  Season                   Promotion
0                 True           Student  Winter                        None
1                False      Professional    Fall      BOGO (Buy One Get One)
2                False       Young Adult  Winter                        None
3                 True    Senior Citizen  Summer  Discount on Selected Items
4                False    Senior Citizen  Spring                        None
...                ...               ...     ...                         ...
29993             True          Teenager  Summer      BOGO (Buy One Get One)
29994            False          Teenager    Fall  Discount on Selected Items
29995             True      Professional  Spring  Discount on Selected Items
29996             True      Professional  Summer  Discount on Selected Items
29997             True       Young Adult    Fall  Discount on Selected Items

[29998 rows x 13 columns]

In [171]:
df2 = df2.drop('City', axis=1)
df2 = df2.drop('Discount_Applied', axis=1)
df2 = df2.drop('Customer_Category', axis=1)
df2 = df2.drop('Store_Type', axis=1)
print(df2)

       Transaction_ID      Time       Customer_Name  \
0          1000000000  19:42:52     Cheyenne Newman
1          1000000001  07:45:16    Emily Fitzgerald
2          1000000002  06:28:44        Michael Webb
3          1000000003  05:39:02        Kimberly Lin
4          1000000004  07:28:47     Cathy Hernandez
...               ...       ...                 ...
29993      1000029993  22:30:57  Casey Jennings DDS
29994      1000029994  03:37:08        Leah Aguilar
29995      1000029995  06:01:01      Candice Wilson
29996      1000029996  17:31:16              Jay Yu
29997      1000029997  07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method  Season                   Promotion
0            12.77      Debit Card  Winter                        None
1            13.88      Debit Card    Fall      BOGO (Buy One Get One)
2            47.02      Debit Card  Winter                        None
3            83.86  Mobile Payment  Summer  Discount on Selected Items
4            30.55      Debit Card  Spring                        None
...            ...             ...     ...                         ...
29993        73.93            Cash  Summer      BOGO (Buy One Get One)
29994        31.57     Credit Card    Fall  Discount on Selected Items
29995        31.74      Debit Card  Spring  Discount on Selected Items
29996         5.84            Cash  Summer  Discount on Selected Items
29997        51.10     Credit Card    Fall  Discount on Selected Items

[29998 rows x 9 columns]

In [172]:
print(df2)

       Transaction_ID      Time       Customer_Name  \
0          1000000000  19:42:52     Cheyenne Newman
1          1000000001  07:45:16    Emily Fitzgerald
2          1000000002  06:28:44        Michael Webb
3          1000000003  05:39:02        Kimberly Lin
4          1000000004  07:28:47     Cathy Hernandez
...               ...       ...                 ...
29993      1000029993  22:30:57  Casey Jennings DDS
29994      1000029994  03:37:08        Leah Aguilar
29995      1000029995  06:01:01      Candice Wilson
29996      1000029996  17:31:16              Jay Yu
29997      1000029997  07:10:45        Larry Miller

                                                 Product  Total_Items  \
0                                           ['Hair Gel']            6
1             ['Tuna', 'Bread', 'Tissues', 'Trash Bags']            5
2                             ['Jam', 'Soap', 'Ketchup']            7
3                                          ['BBQ Sauce']            9
4      ['Hand Sanitizer', 'Bread', 'Extension Cords',...            4
...                                                  ...          ...
29993         ['Bath Towels', 'Mop', 'Chips', 'Diapers']            8
29994                           ['Toilet Paper', 'Soda']           10
29995  ['Butter', 'Tuna', 'Vinegar', 'Shower Gel', 'O...            7
29996                                          ['Honey']            8
29997                    ['Ironing Board', 'Toothbrush']            7

       Total_Price  Payment_Method  Season                   Promotion
0            12.77      Debit Card  Winter                        None
1            13.88      Debit Card    Fall      BOGO (Buy One Get One)
2            47.02      Debit Card  Winter                        None
3            83.86  Mobile Payment  Summer  Discount on Selected Items
4            30.55      Debit Card  Spring                        None
...            ...             ...     ...                         ...
29993        73.93            Cash  Summer      BOGO (Buy One Get One)
29994        31.57     Credit Card    Fall  Discount on Selected Items
29995        31.74      Debit Card  Spring  Discount on Selected Items
29996         5.84            Cash  Summer  Discount on Selected Items
29997        51.10     Credit Card    Fall  Discount on Selected Items

[29998 rows x 9 columns]

In [173]:
coltoadd = pd.DataFrame({'Customer_Name': df2['Customer_Name'].copy()})
df.insert(1, 'Customer_name', coltoadd )

In [174]:
print(df)

       Customer_id     Customer_name  Gender  Age  Annual_Income  \
0                1   Cheyenne Newman    Male   19             15
1                2  Emily Fitzgerald    Male   21             15
2                3      Michael Webb  Female   20             16
3                4      Kimberly Lin  Female   23             16
4                5   Cathy Hernandez  Female   31             17
...            ...               ...     ...  ...            ...
14995        14996        Kyle Smith    Male   52            275
14996        14997       Jared Smith    Male   21            265
14997        14998      John Griffin    Male   84            215
14998        14999    Michael Palmer  Female   41             48
14999        15000       Megan Drake  Female   16             87

       Spending_Score  Membership
0                  39           0
1                  81           1
2                   6           1
3                  77           1
4                  40           0
...               ...         ...
14995              55           0
14996              80           0
14997              29           1
14998              15           1
14999              41           0

[15000 rows x 7 columns]

In [175]:
df3 = pd.DataFrame({'Time': df2['Time'].copy()})
coltoadd2 = pd.DataFrame({'Season': df2['Season'].copy()})
df3['Season'] = coltoadd2 
df3.insert(0, 'Time_id', range(1, len(df3) + 1))
print(df3.columns,df2.columns)

Index(['Time_id', 'Time', 'Season'], dtype='object') Index(['Transaction_ID', 'Time', 'Customer_Name', 'Product', 'Total_Items',
       'Total_Price', 'Payment_Method', 'Season', 'Promotion'],
      dtype='object')

In [176]:
print(df3)

       Time_id      Time  Season
0            1  19:42:52  Winter
1            2  07:45:16    Fall
2            3  06:28:44  Winter
3            4  05:39:02  Summer
4            5  07:28:47  Spring
...        ...       ...     ...
29993    29994  22:30:57  Summer
29994    29995  03:37:08    Fall
29995    29996  06:01:01  Spring
29996    29997  17:31:16  Summer
29997    29998  07:10:45    Fall

[29998 rows x 3 columns]

In [177]:
df2 = df2.drop('Time', axis=1)
df2 = df2.drop('Customer_Name', axis=1)
df2 = df2.drop('Season', axis=1)
df2 = df2.drop('Product', axis=1)
df2 = df2.rename(columns={'Transaction_ID': 'Transaction_id'})
print(df2)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [178]:
print(df.columns)
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['Customer_id', 'Customer_name', 'Gender', 'Age', 'Annual_Income',
       'Spending_Score', 'Membership'],
      dtype='object')
Index(['Store_id', 'Store_Area', 'Items_Available', 'Daily_customer_count',
       'Store_Sales'],
      dtype='object')
Index(['Transaction_id', 'Total_Items', 'Total_Price', 'Payment_Method',
       'Promotion'],
      dtype='object')
Index(['Time_id', 'Time', 'Season'], dtype='object')

In [179]:
import pandas as pd
import random
shorter_df = df1 if len(df1) < len(df2) else df2
longer_df = df2 if len(df1) < len(df2) else df1

In [180]:
print(shorter_df)
print(longer_df)

     Store_id  Store_Area  Items_Available  Daily_customer_count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]
       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [181]:
shorter_df = shorter_df.sample(n=len(longer_df), replace=True).reset_index(drop=True)

In [182]:
df4 = pd.merge(longer_df, shorter_df, left_index=True, right_index=True, how='outer', suffixes=('_df1', '_df2'))

In [183]:
print(df4)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion  Store_id  Store_Area  Items_Available  \
0                            None       600        1619             1947
1          BOGO (Buy One Get One)       181        1612             1939
2                            None       365        1124             1369
3      Discount on Selected Items       835        1327             1609
4                            None       767        1596             1939
...                           ...       ...         ...              ...
29993      BOGO (Buy One Get One)       788        1427             1723
29994  Discount on Selected Items       639        1812             2189
29995  Discount on Selected Items        52        1565             1880
29996  Discount on Selected Items       477        1213             1462
29997  Discount on Selected Items       624        1508             1823

       Daily_customer_count  Store_Sales
0                       910        74330
1                       840        74250
2                       650        63540
3                      1320        41500
4                       960        79760
...                     ...          ...
29993                  1040        67090
29994                   310        78090
29995                  1300        57830
29996                   560        56830
29997                   520        71290

[29998 rows x 10 columns]

In [184]:
import pandas as pd
import random
shorter_df = df4 if len(df4) < len(df) else df
longer_df = df if len(df4) < len(df) else df4

In [185]:
shorter_df = shorter_df.sample(n=len(longer_df), replace=True).reset_index(drop=True)

In [186]:
df5 = pd.merge(longer_df, shorter_df, left_index=True, right_index=True, how='outer', suffixes=('_df1', '_df2'))

In [187]:
print(df5)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion  Store_id  Store_Area  Items_Available  \
0                            None       600        1619             1947
1          BOGO (Buy One Get One)       181        1612             1939
2                            None       365        1124             1369
3      Discount on Selected Items       835        1327             1609
4                            None       767        1596             1939
...                           ...       ...         ...              ...
29993      BOGO (Buy One Get One)       788        1427             1723
29994  Discount on Selected Items       639        1812             2189
29995  Discount on Selected Items        52        1565             1880
29996  Discount on Selected Items       477        1213             1462
29997  Discount on Selected Items       624        1508             1823

       Daily_customer_count  Store_Sales  Customer_id      Customer_name  \
0                       910        74330         6952      Linda Johnson
1                       840        74250          301       Ashley Potts
2                       650        63540         3742       Andrea Perez
3                      1320        41500        10138      Theodore Hall
4                       960        79760          430     Yolanda Walker
...                     ...          ...          ...                ...
29993                  1040        67090         7489     Matthew Rivera
29994                   310        78090        12923  Matthew Rodriguez
29995                  1300        57830          341      Dr. John Ryan
29996                   560        56830         7717        Dale Jordan
29997                   520        71290        14408        Kelly Wells

       Gender  Age  Annual_Income  Spending_Score  Membership
0      Female   80            193              73           0
1        Male   55            122               5           0
2        Male   75            109              93           0
3      Female   83            175              96           1
4      Female   77             59              82           1
...       ...  ...            ...             ...         ...
29993    Male   51            259              22           1
29994  Female   45             13              85           0
29995  Female   53            111              99           0
29996    Male   80             70              12           0
29997    Male   83            154              91           1

[29998 rows x 17 columns]

In [188]:
df5 = pd.merge(df5, df3, left_index=True, right_index=True, how='outer', suffixes=('_df5', '_df3'))

In [189]:
df5 = df5.drop('Season', axis=1)
df5 = df5.drop('Time', axis=1)
df5 = df5.drop('Payment_Method', axis=1)
df5 = df5.drop('Promotion', axis=1)
df5 = df5.drop('Store_Area', axis=1)
df5 = df5.drop('Customer_name', axis=1)
df5 = df5.drop('Gender', axis=1)
df5 = df5.drop('Age', axis=1)
df5 = df5.drop('Annual_Income', axis=1)
df5 = df5.drop('Spending_Score', axis=1)
df5 = df5.drop('Membership', axis=1)     
    
df5 = df5.drop('Items_Available', axis=1)

In [190]:
column_order = ['Transaction_id', 'Store_id', 'Time_id','Customer_id','Total_Items','Total_Price','Daily_customer_count','Store_Sales']
df5 = df5[column_order]

In [191]:
print(df5)

       Transaction_id  Store_id  Time_id  Customer_id  Total_Items  \
0          1000000000       600        1         6952            6
1          1000000001       181        2          301            5
2          1000000002       365        3         3742            7
3          1000000003       835        4        10138            9
4          1000000004       767        5          430            4
...               ...       ...      ...          ...          ...
29993      1000029993       788    29994         7489            8
29994      1000029994       639    29995        12923           10
29995      1000029995        52    29996          341            7
29996      1000029996       477    29997         7717            8
29997      1000029997       624    29998        14408            7

       Total_Price  Daily_customer_count  Store_Sales
0            12.77                   910        74330
1            13.88                   840        74250
2            47.02                   650        63540
3            83.86                  1320        41500
4            30.55                   960        79760
...            ...                   ...          ...
29993        73.93                  1040        67090
29994        31.57                   310        78090
29995        31.74                  1300        57830
29996         5.84                   560        56830
29997        51.10                   520        71290

[29998 rows x 8 columns]

In [192]:
print(df2)

       Transaction_id  Total_Items  Total_Price  Payment_Method  \
0          1000000000            6        12.77      Debit Card
1          1000000001            5        13.88      Debit Card
2          1000000002            7        47.02      Debit Card
3          1000000003            9        83.86  Mobile Payment
4          1000000004            4        30.55      Debit Card
...               ...          ...          ...             ...
29993      1000029993            8        73.93            Cash
29994      1000029994           10        31.57     Credit Card
29995      1000029995            7        31.74      Debit Card
29996      1000029996            8         5.84            Cash
29997      1000029997            7        51.10     Credit Card

                        Promotion
0                            None
1          BOGO (Buy One Get One)
2                            None
3      Discount on Selected Items
4                            None
...                           ...
29993      BOGO (Buy One Get One)
29994  Discount on Selected Items
29995  Discount on Selected Items
29996  Discount on Selected Items
29997  Discount on Selected Items

[29998 rows x 5 columns]

In [193]:
df2 = df2.drop('Total_Items', axis=1)
df2 = df2.drop('Total_Price', axis=1)

In [194]:
print(df2)

       Transaction_id  Payment_Method                   Promotion
0          1000000000      Debit Card                        None
1          1000000001      Debit Card      BOGO (Buy One Get One)
2          1000000002      Debit Card                        None
3          1000000003  Mobile Payment  Discount on Selected Items
4          1000000004      Debit Card                        None
...               ...             ...                         ...
29993      1000029993            Cash      BOGO (Buy One Get One)
29994      1000029994     Credit Card  Discount on Selected Items
29995      1000029995      Debit Card  Discount on Selected Items
29996      1000029996            Cash  Discount on Selected Items
29997      1000029997     Credit Card  Discount on Selected Items

[29998 rows x 3 columns]

In [195]:
print(df1)

     Store_id  Store_Area  Items_Available  Daily_customer_count  Store_Sales
0           1        1659             1961                   530        66490
1           2        1461             1752                   210        39820
2           3        1340             1609                   720        54010
3           4        1451             1748                   620        53730
4           5        1770             2111                   450        46620
..        ...         ...              ...                   ...          ...
891       892        1582             1910                  1080        66390
892       893        1387             1663                   850        82080
893       894        1200             1436                  1060        76440
894       895        1299             1560                   770        96610
895       896        1174             1429                  1110        54340

[896 rows x 5 columns]

In [196]:
df1 = df1.drop('Daily_customer_count', axis=1)
df1 = df1.drop('Store_Sales', axis=1)

In [197]:
print(df1)

     Store_id  Store_Area  Items_Available
0           1        1659             1961
1           2        1461             1752
2           3        1340             1609
3           4        1451             1748
4           5        1770             2111
..        ...         ...              ...
891       892        1582             1910
892       893        1387             1663
893       894        1200             1436
894       895        1299             1560
895       896        1174             1429

[896 rows x 3 columns]

In [198]:
df5 = df5.rename(columns={'Total_Price': 'Sales'})
df5 = df5.rename(columns={'Total_Items': 'Quantity'})

In [199]:
print(df5)

       Transaction_id  Store_id  Time_id  Customer_id  Quantity  Sales  \
0          1000000000       600        1         6952         6  12.77
1          1000000001       181        2          301         5  13.88
2          1000000002       365        3         3742         7  47.02
3          1000000003       835        4        10138         9  83.86
4          1000000004       767        5          430         4  30.55
...               ...       ...      ...          ...       ...    ...
29993      1000029993       788    29994         7489         8  73.93
29994      1000029994       639    29995        12923        10  31.57
29995      1000029995        52    29996          341         7  31.74
29996      1000029996       477    29997         7717         8   5.84
29997      1000029997       624    29998        14408         7  51.10

       Daily_customer_count  Store_Sales
0                       910        74330
1                       840        74250
2                       650        63540
3                      1320        41500
4                       960        79760
...                     ...          ...
29993                  1040        67090
29994                   310        78090
29995                  1300        57830
29996                   560        56830
29997                   520        71290

[29998 rows x 8 columns]

# loading

In [200]:
db_config = { 'host': '127.0.0.1', 
              'user': 'root', 
              'password': '', 
              'database': 'bi_project'}

In [201]:
# loading
#pip install mysql-connector-python
#pip install pymysql
#pip install sqlalchemy pymysql
import pymysql
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

In [202]:
conn = mysql.connector.connect(**db_config)

In [203]:
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")

In [204]:
df.to_sql(name='customer_dim', con=engine, if_exists='append', index=False)

15000

In [205]:
df1.to_sql(name='store_dim', con=engine, if_exists='append', index=False)

896

In [206]:
df3.to_sql(name='time_dim', con=engine, if_exists='append', index=False)

29998

In [207]:
df2.to_sql(name='transaction_dim', con=engine, if_exists='append', index=False)

29998

In [208]:
df5.to_sql(name='retail_stores_sales', con=engine, if_exists='append', index=False)

29998